body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1; 
}

.jumbotron{
    text-align: center;
    background-color: white;
}

.menu{
    text-align: center;
    margin-bottom: 60px;
}

.btn{
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    width: 90%;
}

#btn1{
    background-color:rgb(231, 141, 145);
}

#btn2{
    background-color:#F6C8CC;
}

#btn3{
    background-color:#C15B78;
}

#btn4{
    background-color:rgb(246, 200, 232);
}

.title{
    text-align: center;
    font-size: 60px;
    font-family: 'Open Sans', sans-serif;
    color: #2F5061;
    text-decoration-line: underline;
    font-weight: bolder;    
}

html, body, .grid-container { height: 100%; margin: 0; }

.grid-container {
  display: grid;
  /* grid-template-columns: 1fr 0.5fr 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1.4fr 0.6fr 1fr;
  grid-template-rows: 1fr 0.5fr 1.5fr 1fr 1.3fr 0.6fr 1.2fr 1.1fr 2.2fr 1fr ; */
  gap: 1px 1px;
  margin-bottom: 200px;
}

.poster { 
    background-image: url(../images/background.png);
    background-size: 100%;
    height: 648px;
}

#poster{
    max-width:100%;
    height:90%;
    margin: auto;
    padding-top: 10%;
    display: block;
}

.info { 
    margin-top: 20px;
    height: 350px;
    background-image: url(../images/infocont.png);
    background-size: 100%;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif; 
    text-align: justify;
    font-weight: bolder;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 5%;
}

a{
    font-weight: bolder;
    color: teal;
    font-family: 'Dancing Script', cursive;
    font-size: 11px;
    text-align: justify;
    font-weight: bolder;
    padding-top: 3%;
    padding-bottom: 3%;
}

.giphy {
    margin-top: 20px;
    background-image: url(../images/background.png);
    background-size: 100%;
    height: 300px;
}

#giphy{
    max-width:90%;
    height:90%;
    margin: auto;
    padding-top: 10%;
    display: block;
}

/* FOOTER STYLING  */
footer{
    margin-top: 100px;
    background-image: url(../images/background.png);
    height: 60px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: #039be5;
}
