/*  GENERAL STYLING  */
.jumbotron{
    text-align: center;
}

.subTitle{
    font-size: 35px;
    font-family: Helvetica, sans-serif;
    color: teal;
    text-align: center;
}

.menu{
  text-align: center;
}

.btn{
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    width: 90%;
}

#btn1{
    background-color:rgb(231, 141, 145);
}

#btn2{
    background-color:#F6C8CC;
}

#btn3{
    background-color:#C15B78;
}

#btn4{
    background-color:rgb(246, 200, 232);
}


h1{
    padding-top: 50px;
    text-align: center;
    font-size: 35px;
    font-family: Helvetica, sans-serif;
    color:black; 
}

P{
    text-align: center;
}


/* FOOTER STYLING  */

footer{
    margin-top: 100px;
    background-image: url(../images/background.png);
    height: 60px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 20px;
}
  